# InnerSpark - Production Environment Configuration
# Save this file as .env on your Hostinger server

# MongoDB Configuration
MONGODB_URL=your mongodb url here

# Server Configuration
# Hostinger will automatically provide the PORT via process.env.PORT
PORT=your port number here
NODE_ENV= your environment here (e.g., production)

# JWT Secret
JWT_SECRET=YOUR_SECURE_RANDOM_SECRET

# Frontend Configuration
CLIENT_URL=your frontend url here (e.g., https://awarenessacademy.in)

# SMTP Configuration (Hostinger Recommended)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=your smtp port
SMTP_USER=your smtp email id here
SMTP_PASS=your smtp email password here

# Razorpay Configuration
RAZORPAY_KEY_ID=your razor pay key id here
RAZORPAY_KEY_SECRET=your razor pay key secret here

MONGODB_PUBLIC_API_KEY=your mongodb public api key here
MONGODB_PRIVATE_API_KEY=your mongodb private api key here
MONGODB_PROJECT_ID=your mongodb project id here


#cloudflare
R2_ACCESS_KEY_ID=your cloudflare r2 access key id here
R2_SECRET_ACCESS_KEY=your cloudflare r2 secret access key here
R2_ENDPOINT=your cloudflare r2 endpoint here 
R2_BUCKET_NAME=your cloudflare r2 bucket name here
R2_CUSTOM_DOMAIN=your cloudflare r2 custom domain here